<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kfjc.android.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".KfjcApplication"
        android:theme="@style/KfjcCompat">

        <activity
            android:name="org.kfjc.android.player.activity.HomeScreenDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KfjcCompat"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.kfjc.android.player.activity.LavaLampActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Kfjc.LavaActivity" >
            <intent-filter>
                <action android:name="org.kfjc.android.player.FULLSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="org.kfjc.android.player.service.StreamService"
            android:exported="false" />
        <service
            android:name="org.kfjc.android.player.service.PlaylistService"
            android:exported="false" />

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>